<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-written-answer-heading">Create or edit a Written Answer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!writtenAnswer.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="writtenAnswer.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_translationFrom">Translation From</label>
                    <input type="text" class="form-control" name="translationFrom" id="field_translationFrom"
                        [(ngModel)]="writtenAnswer.translationFrom" required/>
                    <div [hidden]="!(editForm.controls.translationFrom?.dirty && editForm.controls.translationFrom?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.translationFrom?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_translation">Translation</label>
                    <input type="text" class="form-control" name="translation" id="field_translation"
                        [(ngModel)]="writtenAnswer.translation" required/>
                    <div [hidden]="!(editForm.controls.translation?.dirty && editForm.controls.translation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.translation?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kana">Kana</label>
                    <input type="text" class="form-control" name="kana" id="field_kana"
                        [(ngModel)]="writtenAnswer.kana" required/>
                    <div [hidden]="!(editForm.controls.kana?.dirty && editForm.controls.kana?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.kana?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kanji">Kanji</label>
                    <input type="text" class="form-control" name="kanji" id="field_kanji"
                        [(ngModel)]="writtenAnswer.kanji" required/>
                    <div [hidden]="!(editForm.controls.kanji?.dirty && editForm.controls.kanji?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.kanji?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_isRightAnswer">Is Right Answer</label>
                    <input type="checkbox" class="form-control" name="isRightAnswer" id="field_isRightAnswer"
                        [(ngModel)]="writtenAnswer.isRightAnswer" />
                    <div [hidden]="!(editForm.controls.isRightAnswer?.dirty && editForm.controls.isRightAnswer?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.isRightAnswer?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_word">Word</label>
                    <select class="form-control" id="field_word" name="word" [(ngModel)]="writtenAnswer.word.id"
                            required>
                        <option *ngIf="!editForm.value.word" [ngValue]="null" selected></option>
                        <option [ngValue]="wordOption.id" *ngFor="let wordOption of words; trackBy: trackWordById">{{wordOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.word?.dirty && editForm.controls.word?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.word?.errors?.required">
                        This field is required.
                    </small>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_exam">Exam</label>
                    <select class="form-control" id="field_exam" name="exam" [(ngModel)]="writtenAnswer.examId"  required>
                        <option *ngIf="!editForm.value.exam" [ngValue]="null" selected></option>
                        <option [ngValue]="examResultOption.id" *ngFor="let examResultOption of examresults; trackBy: trackExamResultById">{{examResultOption.id}}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.exam?.dirty && editForm.controls.exam?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.exam?.errors?.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
