<div class="card jh-card">
    <h2 id="page-heading">
        <span>Ćwiczenia</span>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="row">
        <div class="col-8">
            <form name="generateTestForm" role="form" novalidate (ngSubmit)="routeToTestPage()" #generateTestForm="ngForm">
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group">
                        <label class="form-control-label" for="field_tags">Tagi dla których ma być wygenerowane
                            ćwiczenia</label>
                        <br>
                        <p-autoComplete [(ngModel)]="tags"
                                        [suggestions]="availableTags"
                                        (completeMethod)="search($event)"
                                        name="tags"
                                        field="name"
                                        id="field_tags"
                                        [multiple]="true" required>
                        </p-autoComplete>
                        <div [hidden]="!(generateTestForm.controls.tags?.dirty && generateTestForm.controls.tags?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!generateTestForm.controls.tags?.errors?.required">
                                To pole nie może być puste.
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label">Typ testu</label>
                        <div class="ui-g" style="width:250px;margin-bottom:10px">
                            <div class="ui-g-12"><p-radioButton name="testType" value="WRITTEN_PL" label="Tłumaczenie z polskiego"
                                                                [(ngModel)]="testType"></p-radioButton></div>
                            <div class="ui-g-12"><p-radioButton name="testType" value="WRITTEN_KANA"
                                                                label="Tłumaczenie z kany"
                                                                [(ngModel)]="testType"></p-radioButton></div>
                            <div class="ui-g-12"><p-radioButton name="testType" value="WRITTEN_KANJI" label="Tłumaczenie z kanji"
                                                                [(ngModel)]="testType"></p-radioButton></div>
                            <div class="ui-g-12"><p-radioButton name="testType" value="WRITTEN_MIXED"
                                                                label="Mieszane"
                                                                [(ngModel)]="testType"></p-radioButton></div>
                            <div class="ui-g-12"><p-radioButton name="testType" value="GAPS" label="Wypełnianie luk"
                                                                [(ngModel)]="testType"></p-radioButton></div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" id="generate-test" [disabled]="generateTestForm.form.invalid"
                            class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Generuj</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
