<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wordsTest">
            <h2><span>Words Test</span> {{wordsTest.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{wordsTest.name}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{wordsTest.type}}</span>
                </dd>
                <dt><span>Code</span></dt>
                <dd>
                    <span>{{wordsTest.code}}</span>
                </dd>
                <dt><span>Creator</span></dt>
                <dd>
                    {{wordsTest.creatorLogin}}
                </dd>
                <dt><span>Word</span></dt>
                <dd>
                    <span *ngFor="let word of wordsTest.words; let last = last">
                        <a [routerLink]="['/word', word?.id, 'view' ]">{{word.translation}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/words-test', wordsTest.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
