<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-words-test-heading">Utworz lub edytuj test</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!wordsTest.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="wordsTest.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nazwa</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="wordsTest.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                            To pole nie może być puste.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Typ testu</label>
                    <select class="form-control" name="type" [(ngModel)]="wordsTest.type" id="field_type"  required>
                        <option value="WRITTEN_MIXED">Test pisemny - mieszany</option>
                        <option value="WRITTEN_PL">Test pisemny - polski</option>
                        <option value="WRITTEN_KANA">Test pisemny - kana</option>
                        <option value="WRITTEN_KANJI">Test pisemny - kanji</option>
                        <option value="TRUE_FALSE">Prawda/falsz</option>
                    </select>
                    <div [hidden]="!(editForm.controls.type?.dirty && editForm.controls.type?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.type?.errors?.required">
                            To pole nie może być puste.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_tags">Tagi dla których ma być wygenerowany
                        test</label>
                    <br>
                    <p-autoComplete [(ngModel)]="tags"
                                    [suggestions]="availableTags"
                                    (completeMethod)="search($event)"
                                    name="tags"
                                    id="field_tags"
                                    [multiple]="true" required>
                    </p-autoComplete>
                    <div [hidden]="!(editForm.controls.tags?.dirty && editForm.controls.tags?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.tags?.errors?.required">
                            To pole nie może być puste.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
