<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tag">
            <h2><span>{{tag.name}}</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Lekcje</span></dt>
                <dd>
                    <span *ngFor="let lesson of tag.lessons; let last = last">
                        <a [routerLink]="['/lesson', lesson?.id, 'view' ]">{{lesson.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <p-table [value]="tag.words" selectionMode="single" [paginator]="true" [rows]="15">
                <ng-template pTemplate="caption">
                    Słownictwo
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="translation">
                            Tłumaczenie <p-sortIcon field="translation"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kana">
                            Kana <p-sortIcon field="kana"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kanji">
                            Kanji <p-sortIcon field="kanji"></p-sortIcon>
                        </th>
                        <th pSortableColumn="romaji">
                            Romaji <p-sortIcon field="romaji"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData.translation}}
                        </td>
                        <td>
                            {{rowData.kana}}
                        </td>
                        <td>
                            {{rowData.kanji}}
                        </td>
                        <td>
                            {{rowData.romaji}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Cofnij</span>
            </button>

            <button type="button"
                    [routerLink]="['/tag', tag.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edytuj</span>
            </button>
        </div>
    </div>
</div>
