<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gapItem">
            <h2><span>Gap Item</span> {{gapItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Key</span></dt>
                <dd>
                    <span>{{gapItem.key}}</span>
                </dd>
                <dt><span>Value</span></dt>
                <dd>
                    <span>{{gapItem.value}}</span>
                </dd>
                <dt><span>Test Item</span></dt>
                <dd>
                    <div *ngIf="gapItem.testItemId">
                        <a [routerLink]="['/filling-gaps-test-item', gapItem.testItemId, 'view']">{{gapItem.testItemId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/gap-item', gapItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
</div>
