<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Rejestracja</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Rejestracja pomyślna!</strong> Sprawdź email w celu potwierdzenia.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Rejestracja zakończona niepowodzeniem.</strong>
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Login zajęty!</strong> Proszę wybierz inny.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email zajęty!</strong> Proszę wybierz inny.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Hasło i potwierdzenie nie zgadzają się.
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Login</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Your username"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Login jest wymagany.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Login musi mieć conajmniej 1 znak.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Login może mieć maksymalnie 50 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Login może zawierać tylko litery i cyfry.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Your email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Email jest wymagany.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Email nieprawidłowy.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Email musi mieć conajmniej 5 znaków.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Email może mieć maksymalnie 100 znaków.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="New password"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                        Hasło musi mieć conajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Hasło może mieć maksymalnie 50 znaków.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirm the new password"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Potwierdzenie hasło jest wymagane.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Hasło musi mieć conajmniej 4 znaki.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Hasło może mieć maksymalnie 50 znaków.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>
</div>
