<div>
    <h2 id="page-heading">
        <span>Słowa</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-word" [routerLink]="['/word/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Dodaj nowe słowo
            </span>
        </button>
    </h2>
    <div>
        <p-autoComplete [(ngModel)]="tagsFilter" [suggestions]="foundTags"
                        (completeMethod)="searchForTags($event)" [multiple]="true"
                        placeholder="Wyszukaj po tagu" [forceSelection]="true" field="name"
                        (onSelect)="clear()" (onUnselect)="clear()">
        </p-autoComplete>
    </div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="words">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="translation"><span>Tłumaczenie</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kana"><span>Kana</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="kanji"><span>Kanji</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="romaji"><span>Romaji</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="note"><span>Uwagi</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th><span>Tagi</span></th>
            <th><span>Jisho.org</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let word of words ;trackBy: trackId">
                <td>{{word.translation}}</td>
                <td>{{word.kana}}</td>
                <td>{{word.kanji}}</td>
                <td>{{word.romaji}}</td>
                <td>{{word.note}}</td>
                <td>
                    <span *ngFor="let tag of word.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                    </span>
                </td>
                <td> <a [href]="getJishoLink(word)" target="_blank">{{word.kanji ? word.kanji : word.kana}} na jisho.org</a></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/word', word.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Szczegóły</span>
                        </button>
                        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                        <button type="submit"
                                [routerLink]="['/word', word.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edytuj</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'word/'+ word.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Usuń</span>
                        </button>
                    </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="words && words.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
