<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="word">
            <h2>{{word.kanji ? word.kanji : word.kana}} - {{word.translation}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Tłumaczenie</span></dt>
                <dd>
                    <span>{{word.translation}}</span>
                </dd>
                <dt><span>Kana</span></dt>
                <dd>
                    <span>{{word.kana}}</span>
                </dd>
                <dt><span>Kanji</span></dt>
                <dd>
                    <span>{{word.kanji}}</span>
                </dd>
                <dt><span>Romaji</span></dt>
                <dd>
                    <span>{{word.romaji}}</span>
                </dd>
                <dt><span>Uwagi</span></dt>
                <dd>
                    <span>{{word.note}}</span>
                </dd>
                <dt><span>Tagi</span></dt>
                <dd>
                    <span *ngFor="let tag of word.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>
            <div class="row-md jh-entity-details">
                <a [href]="getJishoLink(word)" target="_blank">Zobacz {{word.kanji ? word.kanji : word.kana}} na jisho.org</a>
            </div>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Cofnij</span>
            </button>

            <button type="button"
                    [routerLink]="['/word', word.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edytuj</span>
            </button>
        </div>
    </div>
</div>
</div>
