<div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-word-heading">Utwórz lub edytuj słowo</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!word.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="word.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_translation">Tłumaczenie</label>
                    <input type="text" class="form-control" name="translation" id="field_translation"
                        [(ngModel)]="word.translation" required/>
                    <div [hidden]="!(editForm.controls.translation?.dirty && editForm.controls.translation?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.translation?.errors?.required">
                        To pole jest wymagane.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kana">Kana</label>
                    <input type="text" class="form-control" name="kana" id="field_kana"
                        [(ngModel)]="word.kana" required/>
                    <div [hidden]="!(editForm.controls.kana?.dirty && editForm.controls.kana?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.kana?.errors?.required">
                        To pole jest wymagane.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kanji">Kanji</label>
                    <input type="text" class="form-control" name="kanji" id="field_kanji"
                        [(ngModel)]="word.kanji" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_romaji">Romaji</label>
                    <input type="text" class="form-control" name="romaji" id="field_romaji"
                        [(ngModel)]="word.romaji" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_note">Uwagi</label>
                    <input type="text" class="form-control" name="note" id="field_note"
                        [(ngModel)]="word.note" />
                </div>

                <div class="form-group">
                    <label for="field_tag">Tagi</label>
                    <select class="form-control" id="field_tag" multiple name="tag" [(ngModel)]="word.tags">
                        <option [ngValue]="getSelected(word.tags, tagOption)" *ngFor="let tagOption of tags; trackBy: trackTagById">{{tagOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Anuluj</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Zapisz</span>
                </button>
            </div>
        </form>
    </div>
</div>
</div>
