<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="word">
            <h2><span>Word</span> {{word.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Translation</span></dt>
                <dd>
                    <span>{{word.translation}}</span>
                </dd>
                <dt><span>Kana</span></dt>
                <dd>
                    <span>{{word.kana}}</span>
                </dd>
                <dt><span>Kanji</span></dt>
                <dd>
                    <span>{{word.kanji}}</span>
                </dd>
                <dt><span>Romaji</span></dt>
                <dd>
                    <span>{{word.romaji}}</span>
                </dd>
                <dt><span>Note</span></dt>
                <dd>
                    <span>{{word.note}}</span>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span *ngFor="let tag of word.tags; let last = last">
                        <a [routerLink]="['/tag', tag?.id, 'view' ]">{{tag.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/word', word.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
