<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm"
              (keydown.enter)="$event.target.tagName == 'TEXTAREA'">
            <h2 id="jhi-lesson-heading">Create or edit a Lesson</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!lesson.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="lesson.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="lesson.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="lesson.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Tags</label>
                    <p-autoComplete [(ngModel)]="lesson.rawTags" [suggestions]="foundTags" name="lesson_tags"
                                    (completeMethod)="searchForTags($event)" [multiple]="true"
                                    (onKeyUp)="onTagInputKeyUp($event)">
                    </p-autoComplete>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lesson_files">Pliki lekcji</label>
                    <div class="row col-sm">
                        <p-listbox [options]="availableFiles"
                                   optionLabel="name"
                                   name="lessonFiles"
                                   [(ngModel)]="lesson.lessonFiles"
                                   id="field_lesson_files"
                                   [filter]="true"
                                   dataKey="id"
                                   [checkbox]="true"
                                   [multiple]="true"
                        ></p-listbox>
                    </div>
                </div>

                <p-table [value]="lesson.words" selectionMode="single" [(selection)]="selectedWord"
                         (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="15">
                    <ng-template pTemplate="caption">
                        Słownictwo
                    </ng-template>
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th pSortableColumn="translation">
                                Tłumaczenie <p-sortIcon field="translation"></p-sortIcon>
                            </th>
                            <th pSortableColumn="kana">
                                Kana <p-sortIcon field="kana"></p-sortIcon>
                            </th>
                            <th pSortableColumn="kanji">
                                Kanji <p-sortIcon field="kanji"></p-sortIcon>
                            </th>
                            <th pSortableColumn="romaji">
                                Romaji <p-sortIcon field="romaji"></p-sortIcon>
                            </th>
                            <th>
                                Tagi
                            </th>
                            <th>
                                Uwagi
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                {{rowData.translation}}
                            </td>
                            <td>
                                {{rowData.kana}}
                            </td>
                            <td>
                                {{rowData.kanji}}
                            </td>
                            <td>
                                {{rowData.romaji}}
                            </td>
                            <td>
                                {{rowData.rawTags}}
                            </td>
                            <td>
                                {{rowData.note}}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary" let-rowData>
                        <div style="text-align:left">
                            <button type="button" (click)="showDialogToAdd()" class="btn btn-success">
                                <fa-icon [icon]="'plus'"></fa-icon>&nbsp;<span>Dodaj słowo</span>
                            </button>
                        </div>
                    </ng-template>
                </p-table>

                <p-dialog header="Słowo" [(visible)]="displayDialog"
                          [responsive]="true"
                          showEffect="fade"
                          [modal]="true"
                          [width]="300" (onHide)="clearSelection()">
                    <div class="ui-g ui-fluid" *ngIf="word">
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="translation">Tłumaczenie</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="translation" [ngModelOptions]="{standalone: true}" [(ngModel)]="word.translation" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="kana">Kana</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="kana" [ngModelOptions]="{standalone: true}" [(ngModel)]="word.kana" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="kanji">Kanji</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="kanji" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="word.kanji" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="romaji">Romaji</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="romaji" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="word.romaji" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="note">Uwagi</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="note" [ngModelOptions]="{standalone: true}"
                                       [(ngModel)]="word.note" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="tags">Tagi</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="tags" [ngModelOptions]="{standalone: true}" [(ngModel)]="word.rawTags" />
                            </div>
                        </div>
                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button *ngIf="!this.newWord" type="button" icon="fa fa-close" (click)="deleteWord()"
                                    class="btn btn-secondary">
                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Usuń</span>
                            </button>
                            <button type="button" icon="fa fa-check" (click)="saveWord()" class="btn btn-primary">
                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Zapisz</span>
                            </button>
                        </div>
                    </p-footer>
                </p-dialog>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
