<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lesson">
            <h2><span>Lekcja</span> {{lesson.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nazwa</span></dt>
                <dd>
                    <span>{{lesson.name}}</span>
                </dd>
                <dt><span>Opis</span></dt>
                <dd>
                    <span>{{lesson.description}}</span>
                </dd>
                <dt><span>Tagi</span></dt>
                <dd>
                    <a [routerLink]="['/tag', tag?.id, 'view' ]"
                       class="badge badge-pill badge-primary"
                       *ngFor="let tag of lesson.tags">{{tag.name}}</a>
                </dd>
                <dt><span>Pliki lekcji</span></dt>
                <dd>
                    <a [routerLink]="['/lesson-file', lessonFile?.id, 'view' ]"
                       class="badge badge-pill badge-secondary"
                       *ngFor="let lessonFile of lesson.lessonFiles">{{lessonFile.name}}</a>
                </dd>
            </dl>

            <p-table [value]="lesson.words" selectionMode="single" [paginator]="true" [rows]="15">
                <ng-template pTemplate="caption">
                    Słownictwo
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th pSortableColumn="translation">
                            Tłumaczenie <p-sortIcon field="translation"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kana">
                            Kana <p-sortIcon field="kana"></p-sortIcon>
                        </th>
                        <th pSortableColumn="kanji">
                            Kanji <p-sortIcon field="kanji"></p-sortIcon>
                        </th>
                        <th pSortableColumn="romaji">
                            Romaji <p-sortIcon field="romaji"></p-sortIcon>
                        </th>
                        <th>
                            Tagi
                        </th>
                        <th>
                            Uwagi
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            {{rowData.translation}}
                        </td>
                        <td>
                            {{rowData.kana}}
                        </td>
                        <td>
                            {{rowData.kanji}}
                        </td>
                        <td>
                            {{rowData.romaji}}
                        </td>
                        <td>
                            <a [routerLink]="['/tag', tag?.id, 'view' ]"
                               class="badge badge-pill badge-primary"
                               *ngFor="let tag of rowData.tags">{{tag.name}}</a>
                        </td>
                        <td>
                            {{rowData.note}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Cofnij</span>
            </button>

            <button type="button"
                    [routerLink]="['/lesson', lesson.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edytuj</span>
            </button>
        </div>
    </div>
</div>
